<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
    <display-name>fileupload</display-name>
    
	<context-param>
		<param-name>GlobalUpladFolder</param-name>
		<param-value>d:/Sincronia/Masterizzare/Eclipse Workspace offline/jQuery-File-Upload/WEB-INF/WebAppsData/Uploads/</param-value>
	</context-param>
	
    <servlet>
        <description/>
        <display-name>UploadServlet</display-name>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>info.sudr.file.ImgUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>JQueryFileUploadServlet</display-name>
        <servlet-name>JQueryFileUploadServlet</servlet-name>
        <servlet-class>com.github.tosdan.utils.servlets.JQueryFileUploadServlet</servlet-class>
        <init-param>
	        <param-name>FILEUPLOAD_MAX_FILE_SIZE</param-name>
	        <param-value>5242880</param-value>
        </init-param>
        <init-param>
	        <param-name>SERVLET_URL</param-name>
	        <param-value>/servlet/ajaxupload/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JQueryFileUploadServlet</servlet-name>
        <url-pattern>/servlet/ajaxupload/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
